{% extends 'base.html' %}
{% block content %}
<h2>Étape 2 : Informations de l’Assuré</h2>
<form method="POST">
  <label>Nom :</label><input type="text" name="assure_nom" required><br>
  <label>Prénom :</label><input type="text" name="assure_prenom" required><br>
  <label>Téléphone :</label><input type="text" name="assure_tel" required><br>
  <label>Date de naissance :</label><input type="date" name="assure_naissance" required><br>
  <label>Adresse :</label><input type="text" name="assure_adresse" required><br>
  <button type="submit">Suivant</button>
</form>
{% endblock %}
